---
name: Ansible Galaxy

on:
  workflow_call:
    inputs:
      git-branch:
        type: string
        required: false
        default: "main"
      path:
        type: string
        required: false
        default: "./"
    secrets:
      galaxy-token:
        required: true
        description: "Token to upload the Role to Ansible Galaxy"

jobs:
  publish:
    name: Publish Role
    runs-on: ubuntu-22.04
    steps:
      - name: 'Checkout git repo'
        uses: actions/checkout@v5

      - name: 'Release on galaxy'
        run: >-
          ansible-galaxy role import --api-key ${{ secrets.galaxy-token }}
          $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
