name: Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  integration:
    name: Integration
    uses: ./.github/workflows/ansible-integration-workflow.yaml
    with:
      distros: '[ "debian13", "debian12", "ubuntu2404", "ubuntu2204" ]'
